---
- hosts: all
  remote_user: root

  tasks:
  - name: Sub mgr refresh
    shell: subscription-manager refresh ; sleep 2
  - name: Yum clean all
    shell: yum clean all ; sleep 2
  - name: Update/patch all available packages
    yum:
      name: '*'
      state: latest
  - name: Checking for kernel updates
    shell: LAST_KERNEL=$(rpm -q --last kernel | awk 'NR==1{sub(/kernel-/,""); print $1}'); CURRENT_KERNEL=$(uname -r); if [ $LAST_KERNEL != $CURRENT_KERNEL ]; then echo 'reboot'; else echo 'no'; fi
    ignore_errors: true
    register: reboot_hint
                                                                     
  - name: Rebooting ...
    command: shutdown -r now "Reboot required for updated kernel"
    async: 1
    poll: 0
    ignore_errors: true
    when: reboot_hint.stdout == "reboot"
    register: rebooting

  - name: Wait for system to start
    wait_for_connection:
      connect_timeout: 59
      sleep: 15
      delay: 60
    when: rebooting is changed
