---
- hosts: all
  remote_user: root

  tasks:
  - name: Pre-checks
    file:
      path: "{{ item }}"
      state: directory
      mode: '0755'
      owner: root
      group: root
    with_items:
      - /opt/scripts
