---
- hosts: all
  remote_user: root

  tasks:
  - name: Open ports RHEL6
    iptables:
      chain: INPUT
      destination_port: 5500
      jump: ACCEPT
      protocol: udp
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"
  - name: Open ports RHEL7
    ansible.posix.firewalld:
      port: "{{ item }}"
      permanent: yes
      state: enabled
      immediate: yes
    with_items:
      - 22/tcp
      - 443/tcp
      - 80/tcp
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "7"
