---
- hosts: adhoc 
  remote_user: root

  tasks:

  - name: Ensure auditd is installed
    package:
      name: audit
      state: present

  - name: Verify directories
    file:
      path: "{{ item }}"
      state: directory
      mode: '0750'
      owner: root
      group: root
    with_items:
      - /etc/audit
      - /etc/audit/rules.d

  - name: Copy rhel-06-000198.sh to /root/scripts
    copy:
      src: "{{ item }}"
      dest: /root/scripts
      mode: '0700'
      owner: root
      group: root
    with_items:
      - /etc/ansible/files/scripts/rhel-06-000198.sh
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"

  - name: Create /etc/audit/rules.d/rhel-06-000198.rules
    shell: /root/scripts/rhel-06-000198.sh
    register: result
    failed_when:
      - result.rc != 0
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"

  - debug: var=result.stdout_lines
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"

  - name: Copy RHEL6 /etc/audit files
    copy:
      src: "{{ item }}"
      dest: /etc/audit
      mode: '0640'
      owner: root
      group: root
    with_items:
      - /etc/ansible/templates/rhel6/auditd.conf
      - /etc/ansible/templates/rhel6/audit.rules
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"

  - name: Copy RHEL6 /etc/audit/rules.d files
    copy:
      src: "{{ item }}"
      dest: /etc/audit/rules.d
      mode: '0640'
      owner: root
      group: root
    with_items:
      - /etc/ansible/templates/rhel6/01-audit.rules
      - /etc/ansible/templates/rhel6/02-6-audit.rules
      - /etc/ansible/templates/rhel6/99-audit.rules
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"

  - name: Start rhel6 service auditd, if not started
    service:
      name: auditd
      state: started
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"

  - name: Copy RHEL7 /etc/audit files
    copy:
      src: "{{ item }}"
      dest: /etc/audit
      mode: '0640'
      owner: root
      group: root
    with_items:
      - /etc/ansible/templates/rhel7/auditd.conf
      - /etc/ansible/templates/rhel7/audit.rules
      - /etc/ansible/templates/rhel7/audit-stop.rules
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "7"

  - name: Copy RHEL7 /etc/audit/rules.d files
    copy:
      src: "{{ item }}"
      dest: /etc/audit/rules.d/audit.rules
      mode: '0640'
      owner: root
      group: root
    with_items:
      - /etc/ansible/templates/rhel7/rules-dot-d-audit.rules
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "7"

  - name: Start rhel7 service auditd, if not started
    systemd:
      name: auditd
      state: started
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "7"
