---
- hosts: all
  remote_user: root

  tasks:
  - name: Open ports RHEL6
    iptables:
      chain: INPUT
      destination_port: 5500
      jump: ACCEPT
      protocol: udp
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "6"
  - name: Open ports RHEL7
    ansible.posix.firewalld:
      port: "{{ item }}"
      permanent: yes
      state: enabled
      immediate: yes
    with_items:
      - 22/tcp
      - 443/tcp
      - 80/tcp
      - 5500/tcp
      - 5646/tcp
      - 5647/tcp
      - 8000/tcp
      - 8140/tcp
      - 9090/tcp
      - 7/tcp
      - 7/udp
      - 53/tcp
      - 53/udp
      - 67/udp
      - 5000/tcp
      - 16514/tcp
      - 389/tcp
      - 636/tcp
      - 5900/tcp
      - 5930/tcp
    when:
      - ansible_facts['distribution']  == "RedHat"
      - ansible_facts['distribution_major_version'] == "7"
